@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 0 100% 100%;
    --secondary-foreground: 260 100% 95%;
    --popover-foreground: 220 30% 25%;
    --primary-foreground: 200 100% 97%;
    --accent-foreground: 280 100% 95%;
    --muted-foreground: 220 30% 25%;
    --card-foreground: 220 30% 20%;
    --destructive: 0 100% 60%;
    --background: 220 80% 95%;
    --foreground: 220 30% 20%;
    --secondary: 260 100% 50%;
    --popover: 220 80% 90%;
    --primary: 200 100% 50%;
    --border: 220 70% 64%;
    --accent: 280 100% 50%;
    --muted: 220 80% 90%;
    --input: 220 70% 69%;
    --card: 220 80% 95%;
    --ring: 220 80% 95%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}